.header {
    display: flex;
    justify-content: space-between;
    height: 70px;
    width: 100%;
}

.logo-container {
    height: 100%;
    width: 70px;
    /* padding: 50px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 25px;
    
}

.option {
    padding: 10px 15px;
    cursor: pointer;
}

.menu {
    justify-content: flex-start;
}